<h1>Products</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {% for product in object_list %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
            <a href="{% url 'product_edit' product.pk %}">Edit</a> |
            <a href="{% url 'product_delete' product.pk %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'product_create' %}">Add New Product</a>